/dotnet-code-challenge.Test/bin/Debug/netcoreapp2.0
/dotnet-code-challenge.Test/obj/Debug/netcoreapp2.0
/dotnet-code-challenge.Test/obj
/.vs/dotnet-code-challenge/v15/Server/sqlite3
/dotnet-code-challenge/bin/Debug/netcoreapp2.0
/dotnet-code-challenge/obj/Debug/netcoreapp2.0
/dotnet-code-challenge/obj
